@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <canvas id="myCanvas" width="300" height="70"></canvas>

    <br />

    <p>
        <h5>
            to our website!!!
            <br />
            <br />
            Here you can store your images or import from Pixabay.com.
            <br />
            You can also upgrade your business plan to upload more images!
            <br />
            Enjoy our project!
        </h5>
    </p>

    <br />
    <div class="embed-responsive embed-responsive-16by9">
        <video id="videoplayer" class="embed-responsive-item" src="@Url.Content("~/video/Welcome - 8479.mp4")" controls loop />
    </div>

@section Scripts {
    <script src="~/js/canvas.js"></script>
}