@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center">
    <p class="text-black">
        <h1 class="fw-bold">Welcome!</h1>
        This is MoodleDrive, our image sharing platform! <br />
        Here you can store your own images or import from Pixabay.com webservice. <br />
        You can also upgrade your business plan to upload more images. <br />
        Feel free to explore our website, there are many suprises to be found! <br />
        Enjoy our project!

    </p>
    <div class="justify-content-center  embed-responsive-16by9">
        <video id="videoplayer" controls loop>
            <source src="@Url.Content("~/video/Welcome - 24829.mp4")" type="video/mp4">
        </video>
    </div>
    <div>
        <canvas id="myCanvas"></canvas>
    </div>
</div>
@section Scripts {
    <script src="~/js/canvas.js"></script>
}