@model IEnumerable<InternetAppProject.Models.Image>

@{
    ViewData["Title"] = "Graphs";
}

<meta charset="utf-8">

<link rel="stylesheet" href="~/css/graph.css">
<div class="text-left">
    <h1>Graphs</h1>
    <table>
        <tr>
            <td>
                <div id="svg1" class="svg1"></div>
            </td>
            <td>
                <div id="svg2" class="svg2"></div>
            </td>
        </tr>

    </table>  
</div>

@section Scripts{
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="~/js/graph1.js"></script>
    <script src="~/js/graph2.js"></script>
}