@model IEnumerable<InternetAppProject.Models.Image>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <p>
        <h1>Whoops! It seems like your drive is full :(</h1><br />
        <h3>Perhaps consider upgrading to a more expensive business plan?</h3><br />
        <h6>(please don't create a new free account or we won't make any money!)</h6>
    </p>
</div>