@model IEnumerable<InternetAppProject.Models.Tag>

@{
    ViewData["Title"] = "Search";
}
<section>
    <h1>Tag search</h1>
    <aside>
        <h6>Here you can search for a tag by name.</h6>
    </aside>

    <div>
        <input name="Tag" id="inpSearch" />
        <button class="btnSearch btn btn-primary">Search</button>
        <div class="spinner-grow text-success d-none" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</section>
<section>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id">
                                <span class="badge bg-primary"><span class="image-tag">@item.Name</span></span>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>
<script type="text/template" id="template">
    <tr>
        <td>
            <a href="/tags/details/${id}">
                <span class="badge bg-primary"><span class="image-tag">${name}</span></span>
            </a>
        </td>
    </tr>
</script>

@section Scripts {
    <script src="~/js/searchTag.js"></script>
}